google:
  user: "user@org.com"
  password: "keep-secret"
  # mapping spreadsheet key
  key: "get-key-from-spreadsheet-url"

emea:
  root: "tmp/prod1"
  salesforce:
    user: "user@org.com.prod1"
    password: "test"
    token: "---"
    login_url: "https://test.salesforce.com"
    client_id: ""
    client_secret: ""

us:
  root: "tmp/prod2"
  salesforce:
    user: "user@org.com.prod2"
    password: "test"
    token: ""
    login_url: "https://login.salesforce.com"
    client_id: ""
    client_secret: ""


